#login-page {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: rgb(168, 182, 243);

    #login-card {
        width: 27rem;
        margin: auto;
        margin-top: 10rem;
    }
}
